services:
  api:
    build:
      context: .
      dockerfile: /services/api/Dockerfile
    container_name: api
    ports:
      - "9090:9090"
    depends_on: 
      - db
  db: 
    image: postgres:18-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: my_user
      POSTGRES_PASSWORD: my_password
      POSTGRES_DB: my_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
